@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Mobile Styles */
@media only screen and (max-width: 768px) {
  /* Gaya CSS untuk tampilan mobile */
  
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  margin-left: 20px;
  margin-right: 20px;
}

section {
  bottom: 0;
}

nav {
  background-color: transparent;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 0.2vw;
  position: fixed;
  z-index: 1;
  padding-right: 2vw;
}

.nav-links {
  display: flex;
}

.nav-links li {
  list-style-type: none;
  margin-right: 5vw;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 3.5vw;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.nav-links a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.logo {
  margin-top: 20px;
  padding-left: 3vw;
}

.landing-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

#type {
  width: auto;
  height: 30px;
}

.Rvl2 {
  width: 100%;
}

.text {
  justify-content: center;
  align-items: right;
}

.p1{
  line-height: auto;
  font-weight: 700;
  font-size: 16vw;
  line-height: 15vw;
}

.type-animation {
  font-weight: 400;
  letter-spacing: 10px;
  font-size: 3vw;
}
  


.about-me {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-me h1 {
  font-size: 7vw;
  margin-bottom: -0.2em;
}

.about-me h2 {
  font-size: 4vw;
  margin-top: 0;
}

.about-me p {
  font-size: 3vw;
  text-align: justify;
  text-indent: 2em;
}

.skills_section{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.082);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skills_head{
  width: 100%;
  display: grid;
  place-items: center;
  text-align: center;
}
.skills_head h2{
  font-size: 7vw;
  margin-bottom: -8px;
}
.skills_head h2 span{
  color: #fff;
}
.skills_main{
  font-size: 3vw;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.skills_main .skill_bar .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
  font-weight: 500;
}
.skill_bar .bar{
  width: 100%;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.144);
  border-radius: 25px;
  margin-top: 5px;
  position: relative;
}
.skill_bar .bar span{
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  border-radius: 25px;
}
.skill_bar .bar .html{
  width: 70%;
}

.skill_bar .bar .css{
  width: 60%;
}

.skill_bar .bar .js{
  width: 2%;
}

.skill_bar .bar .ai{
  width: 70%;
}

.skill_bar .bar .ps{
  width: 60%;
}

.skill_bar .bar .gpt{
  width: 99%;
}

.contact {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact p:nth-child(1){
  font-size: 7vw;
  color: white;
  font-weight: bold;
  margin-bottom: 0.2em;
}
.contact p:nth-child(2){
  color: white;
  font-size: 3vw;
  text-align: center;
  margin-top: 0;
  padding-bottom: 2vh;
}

.social a{
  padding: 10px 15px;
  margin: 100px;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  margin: 22px 10px;
  color: #000;
  text-decoration: none;
}

.contact .end {
  margin-top: 25px;
  font-size: 3vw;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

}